<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.n7.fr/ENIGMA"
			class = "fr.n7.eNIGMA.ENIGMAPackage"
			genModel = "model/generated/ENIGMA.genmodel" />
	</extension>
</plugin>
